<h1>Contacts</h1>

<div class="contacts">
  <% @contacts.each do |contact| %>
    <br />name: <%= contact.name %><br />
    number: <%= contact.number %>
  <% end %>
</div>

<div class="keypad">
</div>
