<h1>Contacts</h1>

<div class="contacts">
  <% @contacts.each do |contact| %>
<!--    <br /><%= contact.name %>  <%= contact.number %> -->
  <% end %>
</div>

<div class="textfield">
  <%= text_field_tag :textfield %>
</div>

<div class="keypad">
  <br />
  <code>
    <table>

      <tr><td><a href="/1">1</a> --- &nbsp;<a href="/2">2</a> abc <a href="/3">3</a> def</td></tr>
      <tr><td><a href="/4">4</a> ghi &nbsp;<a href="/5">5</a> jkl <a href="/6">6</a> mno</td></tr>
      <tr><td><a href="/7">7</a> pqrs <a href="/8">8</a> tuv <a href="/9">9</a> wxyz</td></tr>
      <tr><td><a href="/*">*</a> --- &nbsp;<a href="/0">0</a> + &nbsp;&nbsp;<a href="/#">#</a> &nbsp;</td></tr>

    </table>
  </code>
</div>
