<a href="/">Contacts</a>

<div id="divcontacts" class="contacts">
  <div id="jscontacts" class="contacts">
    <br />
    <% @contacts.each do |contact| %>
      <br /><%= contact.name %> <%= contact.number %>
    <% end %>
  </div>
</div>

<div class="textfield">
  <%= text_field_tag :textfield, "", onkeyup: "textfieldChange()" %>
  <button id="delete_button"><<</button>
</div>

<div class="keypad">
  <br />
  <code>
    <table>

      <tr><td><button id="1">1</button>    </td><td> <button id="2">2</button>abc</td><td> <button id="3">3</button>def </td></tr>
      <tr><td><button id="4">4</button>ghi </td><td> <button id="5">5</button>jkl</td><td> <button id="6">6</button>mno </td></tr>
      <tr><td><button id="7">7</button>pqrs</td><td> <button id="8">8</button>tuv</td><td> <button id="9">9</button>wxyz</td></tr>
      <tr><td><button>*</button></td><td>            <button id="0">0</button></td><td>    <button>#</button>           </td></tr>

    </table>
  </code>
</div>

<script type="text/javascript">
  // Thanks https://jsfiddle.net/u1q6obLz/
    $("button, input[type=button]").on( "click", function()
    {
      var label = $(this).text();
      if( label != "*" && label != "#" && label != "<<" )
      {
        var value = document.getElementById("textfield").value.trim();
        value += label;
        document.getElementById("textfield").value = value;
        textfieldChange();
      }
    });

    $( "#delete_button" ).on( "click", function()
    {
       var value = document.getElementById("textfield").value.trim();
       if( value.length > 0 ) {
         value = value.substring( 0, value.length - 1 )
       }
       document.getElementById("textfield").value = value;
       textfieldChange();
    } );

    function textfieldChange()
    {
      var value = document.getElementById("textfield").value.trim();
      if( value == "" )
      {
        document.getElementById( "divcontacts" ).innerHTML = "";
      } else
      {
        jQuery.ajax( {
          url : "/search/" + value,
          success : function( result ) {
            var div = contactsExtractor( result );
            document.getElementById( "divcontacts" ).innerHTML = div;
          }
        });
      }
    }

    function contactsExtractor( page )
    {
        var starting = page.indexOf( "<div id=\"jscontacts\">" );
        var ending = page.length - 1;
        var div = page.substring( starting, ending );
        ending = div.indexOf( "</div>" ) + 6;
        div = div.substring( 0, ending );
        return div;
    }
</script>
